body {
    font-family: Arial, sans-serif;
    margin: 100px;
}

.navbar {
    background-color: #05004E;
    font-size: 18px;
}

.navbar a {
    color: #FF0000;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #FF0000;
    color: white;
}

.navbar-right {
    float: right;
}

.custom-logo {
    height: 100px; /* Set the height you want for your logo */
    margin-right: 10px; /* Add some margin to the right of the logo */
}
